body {
    background-color: rgb(32, 24, 74);
    color: rgb(131, 120, 191);
    font-family: 'Roboto Mono', monospace;
    white-space: pre-wrap;
}

.wrapper {
    /* padding: 0px; */
    border-width: 1px;
    border-radius: 8px;
    border-color: rgb(64, 48, 160);
    border-style: solid;
    background-color: rgb(64, 48, 160);
    color: rgb(0, 120, 191);
    font-family: 'Roboto Mono', monospace;

    weight: 100%;
    height: 90%;
    overflow: hidden;
    white-space: pre-wrap;
}

.header {
    padding: 4px;
    border-width: 1px;
    border-radius: 8px;
    border-color: rgb(64, 48, 160);
    border-style: solid;
    background-color: rgb(0, 18, 54);
    color: rgb(30, 160, 210);
    font-family: 'Roboto Mono', monospace;

    height: 100%;
}

.main_div {
    padding: 4px;
    border-width: 1px;
    border-radius: 8px;
    border-color: rgb(64, 48, 160);
    border-style: solid;
    background-color: rgb(0, 24, 74);
    color: rgb(0, 120, 191);
    font-family: 'Roboto Mono', monospace;

    height: 100%;
    white-space: pre-wrap;
}

.navigation_div {
    padding: 4px;
    border-width: 1px;
    border-radius: 8px;
    border-color: rgb(64, 48, 160);
    border-style: solid;
    background-color: rgb(0, 24, 74);
    color: rgb(0, 120, 191);
    font-family: 'Roboto Mono', monospace;

    height: 100%;
    white-space: pre-wrap;
}

a {
    color: rgb(131, 120, 191);
}
